// Bright orange: hsl(31, 77%, 52%)
// Dark cyan: hsl(184, 100%, 22%)
// Very dark cyan: hsl(179, 100%, 13%)

// ### Neutral

// Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
// Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(184, 100%, 22%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);
