@use "./colors" as *;

%preview-content {
	padding: 4.8rem 4.9rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	gap: 3.3rem;
	h2 {
		color: $very-light-gray;
	}
	p {
		color: $transparent-white;
	}
	button {
		cursor: pointer;
		padding: 1.1rem 3.2rem;
		border-radius: 2.5rem;
		background-color: $very-light-gray;
		border: 2px solid $very-light-gray;
		font-size: 1.5rem;
		line-height: 2.5rem;
		&:hover {
			background-color: transparent;
			color: $very-light-gray;
		}
	}
}

@mixin card($color) {
	@if ($color == $bright-orange) {
		@extend %preview-content;
		background-color: $color;
		button {
			color: $color;
		}
	}
	@if ($color == $dark-cyan) {
		@extend %preview-content;
		background-color: $color;
		button {
			color: $color;
		}
	}
	@if ($color == $very-dark-cyan) {
		@extend %preview-content;
		background-color: $color;
		button {
			color: $color;
		}
	}
}
