@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
$font-weights: (
	"regular": 400,
	"bold": 700,
);

$primary-font: "Lexend Deca", sans-serif;
$secondary-font: "Big Shoulders Display", cursive;
