@use "../helpers/" as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: $primary-font;
}

body {
	box-sizing: border-box;
	background-color: $very-light-gray;
}

html {
	font-size: 62.5%;
}
