@use "../helpers/" as *;

p {
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-weight: 400;
}

h2 {
	font-family: $secondary-font;
	font-size: 4rem;
	line-height: 4rem;
	font-weight: 700;
	text-transform: uppercase;
}
